.article-container {
  display: grid;
  grid-template-columns: 20px 1fr 10px 3fr 70px 10px;
  grid-template-rows: 10px 116px 25px 10px;
  border-top: 2px #3e424c solid;
}

.image {
  grid-column: 2/3;
  grid-row: 2/3;
  padding-top: 10px;
}

img {
  height: 110px;
}

.text {
  text-align: left;
  grid-column: 4/6;
  grid-row: 2/3;
  overflow-y: hidden;
}

h3, h5, p {
  margin: 0;
}

h5 {
  margin-top: 3px;
}

p {
  vertical-align: bottom;
  margin-top: 4px;
}

a {
  color: #ef731a;
}

.byline-date {
  width: 70px;
  grid-column: 5/6;
  grid-row: 3;
}
