.App {
  position: absolute;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  max-height: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
  max-width: 800px;
  overflow-y: scroll;
  /* scroll-behavior: smooth; */
}

.App-header {
}

.App-link {
  color: #61dafb;
}

.feed {
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
