/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #18212f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.App {
  position: absolute;
  text-align: center;
  background-color: #28374e;
  min-height: 90vh;
  max-height: 90%;
  color: white;
  width: 600px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  left: 30%;
  top: 5%;
}

.header-wrapper {
  position: relative;
}

.App-header {
  border-bottom: 5px solid #3e424c;
  height: 150px;
  background-color: #18212f;
  width: 595px;
  position: fixed;
  z-index: 1;
}

.App-link {
  color: #61dafb;
}

.feed {
  padding: 20px;
  position: relative;
  top: 130px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 28px;
    margin: -14px 0 0 -14px;
}

/* Spinning circle (inner circle) */
.loading .maskedCircle {
    width: 20px;
    height: 20px;
    border-radius: 12px;
    border: 3px solid white;
}

/* Spinning circle mask */
.loading .mask {
    width: 12px;
    height: 12px;
    overflow: hidden;
}

/* Spinner */
.loading .spinner {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 26px;
    height: 26px;
    animation: spin 1s infinite linear;
}
